<header id="header" class="header">
    <div class="container">
        <div class="logo float-left"><a href="index-2.html" title=""><img src="images/logo-header.png" alt=""></a></div>
        <div class="bars" id="bars"></div>
        <nav class="navigation nav-c" id="navigation" data-menu-type="1200">
            <div class="nav-inner">
                <a href="#" class="bars-close" id="bars-close">Close</a>
                <div class="tb">
                    <div class="tb-cell">
                        <ul class="menu-list text-uppercase">

                            <li>
                                <a asp-controller="Index" asp-action="Index">Home</a>
                                <!--<ul class="sub-menu">

                                  <li class="current-menu-item"><a href="about.html" title="">About Us</a></li>

                                  <li><a href="contact.html" title="">Contact</a></li>
                                  <li><a href="payment.html" title="">Payment</a></li>
                                  <li><a href="element.html" title="">Element</a></li>
                                  <li><a href="404.html" title="">404</a></li>
                                  <li><a href="comingsoon.html" title="">Comingsoon</a></li>
                                </ul>-->
                            </li>
                            <li>
                                <a  title="" asp-controller="AboutUS" asp-action="AboutUS"  >About Us</a>

                            </li>
                            <li>
                                <a href="flight-list.html" title="">Flights</a>

                            </li>
                            <li>
                                <a asp-controller="Carrers" asp-action="Carrers" title="">Career</a>

                            </li>
                            <li>
                                <a asp-controller="Contact" asp-action="Contact" title="">Contact Us</a>

                            </li>
                            <li>
                                <a asp-controller="Faq" asp-action="Faq" title="">Faq</a>

                            </li>
                            <li>
                                <a asp-controller="Login" asp-action="Login" title="">Login</a>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>